.container {
    border: 1px solid #d4d4d4;;
    margin: 20px 0;

    .wrap {
        padding: 0 10px;
    }
    .controlsMenu {
        background: rgb(245, 247, 253) none repeat scroll 0% 0%;
        margin-top: 20px;
        a {
            padding: 10px 20px;
            display: flex;
            align-items: center;        
            cursor: pointer;
            border-top: 1px solid #EDEDED;
            svg {
                width: 18px;
                margin-right: 10px;
            }

        }
    }
    .actionGroup {
        padding: 10px 20px;
        display: flex;
        align-items: center;  
        // justify-content: space-between;     
        border-top: 1px solid #EDEDED;
        svg {
            width: 18px;
            margin-right: 10px;
        }
    }
    .actionGroupWrap {
        display: flex;
        align-items: center; 
        gap: 20px;
        max-width: 500px;
        flex: 1;
    }
}
