.container {
  background: white;
  border-bottom: 1px solid #EDEDED;
  padding: 15px 0;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.4;

    p {
      margin: 10px 0 0;
    }

    

}

