.container {
  background: #1d2b35;
  color: #fff;
  padding: 32px 20px;
}

.wrap {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.wrap p {
  margin: 0 0 5px;
}
.wrap a {
  color: rgb(255, 198, 0);
}
