extends email-layout

block content
  h2 Регистрация на Topkovorking.ru
  p Добрый день! Для завершения регистрации перейдите по ссылке:
  p Нажмите на кнопку "Завершить Регистрацию", чтобы продолжить.
  +button(resetURL, 'Завершить Регистрацию →')
  br
  p Используйте данную ссылку, если не работает конопка "Завершить Регистрацию": #{resetURL}
  br
  p Проигнорируйте содержание письма, если вы не запрашивали доступ к личному кабинету Topkovorking.ru.